<div>
  <strong>{{activity.name}}</strong>
  <br>
  <a href={{activity.url}}>{{activity.url}}</a>
  <br>
  <img src={{activity.photo}} alt="photo missing" style="height:300px; width:300px">
  <p>
    About: {{activity.description}}
  </p>
  <p>
    Why? {{activity.why}}
  </p>
  <p>
    Visits: {{activity.numofvisits}}
  </p>
  <p>
    Notes: {{activity.notes}}
  </p>
</div>
