{{#link-to 'cities'}}Back to the Cities list{{/link-to}}

<!-- A very quick hack to check display issues: -->
<!-- inline-block to make all divisions line up side by side
So each div (category, actvity list) is NOT on its own line -->
<style media="screen">
  div { display: inline-block;}
</style>


<h2>THINGS TO DO in the city of {{model.name}}</h2>
(Click a category to see the list)
<br>
<div>
  <h2>{{#link-to 'city.bars'}}Bars ({{model.bars.length}} recommendations)
    <br>
    <!-- TODO: Change this to a static resource  -->
    <img src="http://cdn.funcheap.com/wp-content/uploads/2016/02/minna3-680x3981.jpg" alt="bar" style="height:300px; width:300px"/>
    {{/link-to}}
  </h2>
</div>




<div>
  <h2>{{#link-to 'city.movies'}}Movies ({{model.movies.length}} recommendations)
    <br>
    <!-- TODO: Change this to a static resource  -->
    <img src="http://www.tpevent.com/wp-content/uploads/2015/09/minions-in-movie-theatre.jpg" alt="movie" style="height:300px; width:300px"/>
    {{/link-to}}
  </h2>
</div>




<div>
  <h2>{{#link-to 'city.parks'}}Parks ({{model.parks.length}} recommendations)
    <br>
    <!-- TODO: Change this to a static resource  -->
    <img src="http://wobo.org/wp-content/uploads/2014/09/Zach-photo-at-amphitheater.jpg" alt="park" style="height:300px; width:300px"/>
    {{/link-to}}
  </h2>
</div>



<div>
  <h2>{{#link-to 'city.travels'}}Travels ({{model.travels.length}} recommendations)
    <br>
    <!-- TODO: Change this to a static resource  -->
    <img src="http://img.wallpaperfolder.com/f/52F6566CDDC7/beach-resort-tropical.jpg" alt="park" style="height:300px; width:300px"/>
    {{/link-to}}
  </h2>
</div>



<div>
  <h2>{{#link-to 'city.sports'}}Families ({{model.sports.length}} recommendations)
    <br>
    <!-- TODO: Change this to a static resource  -->
    <img src="http://jockeybeingfamily.com/wp-content/uploads/2015/05/jbf-homepage-bottom-family.jpg" alt="park" style="height:300px; width:300px"/>
    {{/link-to}}
  </h2>
</div>



<div>
  <h2>{{#link-to 'city.sports'}}Sports ({{model.sports.length}} recommendations)
    <br>
    <!-- TODO: Change this to a static resource  -->
    <img src="http://i.cdn.turner.com/nba/nba/dam/assets/160215001056-russell-westbrook-2016-nba-all-star-game.1200x672.jpeg" alt="park" style="height:300px; width:300px"/>
    {{/link-to}}
  </h2>
</div>




<div>
  <h2>{{#link-to 'city.restaurants'}}Restaurants ({{model.restaurants.length}} recommendations)
    <br>
    <!-- TODO: Change this to a static resource  -->
    <img src="https://s-media-cache-ak0.pinimg.com/564x/bf/4f/33/bf4f3315634734a1c7cd345f988d5803.jpg" alt="park" style="height:300px; width:300px"/>
    {{/link-to}}
  </h2>
</div>
