<div class="container-fluid">

  {{#link-to 'cities'}}Back to the Cities list{{/link-to}}

  <!-- A very quick hack to check display issues: -->
  <!-- inline-block to make all divisions line up side by side
  So each div (category, actvity list) is NOT on its own line -->
  <style media="screen">
    div { display: inline-block;}
  </style>

  <br>

  <h2>THINGS TO DO in the city of {{model.name}}</h2>
  <h5>{{model.computedCityNameString}}</h5>  <!-- Using computed string from city model -->
  (Click a category to see the list)
  <br>


  <!-- **********************************************************************
  ***************************************************************************

  This block of code modularized the list of activites.  I'm not using it because
  #each helper doesn't work well with bootstraps grid system.  Also, I'd need to pass
  in an image for each activity.  Not worth the time right now to fix.

  NOTE: activityCategories comes from the city controller and is ([parks, movies, bars, etc])

  {{#each activityCategories as |act|}}
    <div>
      NOTE:  (concat "city." act) is needed to combine "city" with the activity Ex: city.bars
      NOTE: model.bars.length is wrong, itshould be something like model.act.length which doesn't work
      <h4>
        {{#link-to (concat "city." act)}} {{act}} ({{model.bars.length}} recommendations)

        <br>
        NOTE: Change this to be DIFFRENT for each category.
        <img src="http://cdn.funcheap.com/wp-content/uploads/2016/02/minna3-680x3981.jpg" alt="bar" style="height:400px; width:400px"/>
        {{/link-to}}
      </h4>
    </div>
  {{/each}}

  ***************************************************************************
  **********************************************************************  -->




  <!-- ********
  Below is the original unmodularized code
  *********** -->
  <div class="row">
    <div class="col-md-4">
      <h4>{{#link-to 'city.bars'}}Bars ({{model.bars.length}} recommendations)
        <br>
        <!-- TODO: Change this to a static resource  -->
        <img src="http://cdn.funcheap.com/wp-content/uploads/2016/02/minna3-680x3981.jpg" alt="bar" />
        {{/link-to}}
      </h4>
    </div>

    <div class="col-md-4">
      <h4>{{#link-to 'city.movies'}}Movies ({{model.movies.length}} recommendations)
        <br>
        <!-- TODO: Change this to a static resource  -->
        <img src="http://www.tpevent.com/wp-content/uploads/2015/09/minions-in-movie-theatre.jpg" alt="movie" />
        {{/link-to}}
      </h4>
    </div>

    <div class="col-md-4">
      <h4>{{#link-to 'city.parks'}}Parks ({{model.parks.length}} recommendations)
        <br>
        <!-- TODO: Change this to a static resource  -->
        <img src="http://wobo.org/wp-content/uploads/2014/09/Zach-photo-at-amphitheater.jpg" alt="park" />
        {{/link-to}}
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h4>{{#link-to 'city.travels'}}Travels ({{model.travels.length}} recommendations)
        <br>
        <!-- TODO: Change this to a static resource  -->
        <img src="http://img.wallpaperfolder.com/f/52F6566CDDC7/beach-resort-tropical.jpg" alt="travel" />
        {{/link-to}}
      </h4>
    </div>

    <div class="col-md-4">
      <h4>{{#link-to 'city.families'}}Families ({{model.families.length}} recommendations)
        <br>
        <!-- TODO: Change this to a static resource  -->
        <img src="http://jockeybeingfamily.com/wp-content/uploads/2015/05/jbf-homepage-bottom-family.jpg" alt="family" />
        {{/link-to}}
      </h4>
    </div>

    <div class="col-md-4">
      <h4>{{#link-to 'city.sports'}}Sports ({{model.sports.length}} recommendations)
        <br>
        <!-- TODO: Change this to a static resource  -->
        <img src="http://i.cdn.turner.com/nba/nba/dam/assets/160215001056-russell-westbrook-2016-nba-all-star-game.1200x672.jpeg" alt="sport" />
        {{/link-to}}
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>{{#link-to 'city.restaurants'}}Restaurants ({{model.restaurants.length}} recommendations)
        <br>
        <!-- TODO: Change this to a static resource  -->
        <img src="https://s-media-cache-ak0.pinimg.com/564x/bf/4f/33/bf4f3315634734a1c7cd345f988d5803.jpg" alt="restaurant" />
        {{/link-to}}
      </h4>
    </div>

  </div>

</div>
